.covid_cards_container {
    display: flex;
    justify-content: space-between;
    width: 99%;

    .covid_card {
        border: 1px solid black;
        padding: 10px;
        margin: 0 10px 10px 10px;

        .covid_global {
            margin: 7px 0;
        }
        &:first-child, :last-child{
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 800px){
    .covid_cards_container {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 14px;

        .covid_card {
            border: 1px solid black;
            padding: 10px;
        }
    }
}