.fav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px ,1fr));
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 45px;

    .card {
        text-align: center;

        .fav-flag {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }

        svg {
            font-size: 25px;
            color: #fdcb6e;
            cursor: pointer;
        }

        .fav-city {
            margin-bottom: 8px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.fav_no-city {
    text-align: center;

    .fav_no-city_img {
        margin-top: 40px;
        width: 100%;
    }
}

    .column {
        flex-direction: column;
    }