.formRow_select {
    width: 100%;
    text-align: right;
}

@media screen and (max-width: 700px){
    .select {
        width: 100%;
    }

}
// @media screen and (max-width: 540px){
//     .formRow_select {
//         width: 50%;

//         &:nth-child(3) {
//             position: absolute;
//             right: 30px;
//         }
//     }
// }