.research {
    margin-top: 10px;

    .research_img {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }

    .research_info {
        margin-top: 25px;
        text-align: center;

        .research_description {
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden !important;
            margin: 6px 0;

            a {
                color: black;
                text-decoration: underline;
            }
        }
    }

    .img_not_found {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;

        .not_found {
            height: 100px;
            width: 100px;
        }
    }
}