.next-day_information {
    width: 100%;

    .next-day_title {
        text-align: center;
        margin-bottom: 8px;
    }

    .next-day_date {
        background-color: lightblue;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
    }

    .next-day_card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin: 25px 0;

        .next-day_paper {
          padding: 8px 0;
          text-align: center;
          text-transform: capitalize;

            .next-day_description {
                padding: 20px;
            }
        }

        &:last-child {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 845px){
    .next-day-information .next-day_card {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}