.container-detail {
    padding: 20px;

    .button_return {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}