.card_info {
    height: 470px;

    .card_info_news {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden !important;
    }
}

@media screen and (max-width: 644px){
    .card_info {
        display: flex;
        justify-content: center;
    }
}