.crypto_container {
    margin: 30px;
    height: 100%;

    section {
        margin-top: 30px;
    }

    .crypto_title {
        text-align: center;
        margin: 25px 0;

        .crypto_logo {
            width: 100px;
            height: 100px;
            text-align: center;
        }
    }

    .crypto_cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px 18px;
    }

    .crypto_table {
        text-align: center;
        display: flex;
        justify-content: center;

        .crypto_logo_img {
            width: 60px;
            height: 60px;
        }

        .crypto_symbol {
            text-transform: uppercase;
        }
    }

    .crypto_converter {
        margin: 40px 0;
    }

    .crypto_exchange_research {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 70px;
        margin-bottom: 80px;
    }
}

.loading {
    text-align: center;
    margin-top: 20px;

    .loading_img {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 800px){
    .crypto_container .crypto_exchange_research {
        grid-template-columns: 1fr;

        .exchange {
            margin-bottom: 35px;
        }
    }
}
