.card {
    padding: 20px;
    height: 100%;

    h2 {
        margin-bottom: 14px;
    }
}

.left   { width: 65%; }
.right  { width: 30%; }

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;

    .information {
        display: flex;
        justify-content: space-between;

        .description {
            display: flex;

            .image {
                font-size: 100px;
                padding-right: 15px;
            }

            .info {
                line-height: 27px;

                p {
                    font-size: 18px;

                    &:nth-child(2) {
                        text-transform: capitalize;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .country {
        text-align: center;

        .icon {
            font-size: 25px;
            margin-top: -5px;
        }

        svg {
            &:hover:first-child {
                color: #fdcb6e;
                cursor: pointer;
            }
        }

        .flag {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
        }

        .fav{
            color: #fdcb6e;
        }

        .infoDayNight{
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 17px;
            }

            svg {
                font-size: 25px;
            }
        }
    }

    .grid-days{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        height: 225px;

        .card {
            border: 1px solid black;
            padding: 20px 10px;
            text-align: center;

            .text {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .card_next-days {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            margin-bottom: 14px;
        }
    }
}

.grid-two {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;

    .wind {
        height: 60%;
        font-size: 40px;

        .image {
            margin-left: 15px;
            font-size: 82px;
        }
    }

    .sunset-sunrise {
        padding: 10px 20px;

        .sun-icons {
            display: flex;
            align-items: center;

                svg {
                    font-size: 70px;
                }

            .text {
                margin-left: 15px;
            }

            &:first-child {
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 1108px){
    .grid-two {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

@media screen and (max-width: 1000px){
    .left, .right{
        width: 100%;
    }

    .grid-two {
        margin-top: 30px;
    }
}

@media screen and (max-width: 852px){
    .grid-two .wind {
        display: flex;
        flex-direction: column;

        .image {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 640px){
    .grid {
        .information {
            flex-direction: column-reverse;
            text-align: center;

            .description {
                flex-direction: column;

                .image{
                    padding-right: 0;
                }
            }
        }

        .grid-days {
            grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));

            .card {
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 416px){
    .grid .grid-days {
        grid-template-columns: repeat(auto-fill, minmax(110px, 2fr));
    }
}