.birthday {
    margin: 30px;
    height: 100%;
    text-align: center;

    .birthday_img {
        width: 90px;
        height: 90px;
    }

    .birthday_button-add {
        margin-top: 20px;
    }

    .overflowY {
        overflow-y: scroll;
        height: 100%;

        .birthday_modal {
            padding: 20px;
        }
    }

    .birthday_cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 20px;
        width: 100%;
        margin: 40px 0 80px;
    }
}