.weather {
    margin: 30px;
    height: 100%;

    .weather_form {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .form_grid-left {
            display: grid;
            grid-template-columns: 2.5fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 2rem;
            width: 65%;
        }

        .form_grid-right {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-gap: 2rem;
            width: 30%;

            .button-langage {
                text-align: right;

                .button-click {
                    height: 100%;

                    &:first-child {
                        margin: 0 10px;
                    }

                    &:target {
                        background-color: red;
                    }
                }
            }
        }
    }

    .weather_img {
        display: flex;
        justify-content: center;
        margin: 20px;
        width: 100%;
    }

    .weather_intro {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 30px 0;
    }

    .img_not_found {
        margin-top: 40px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1000px){
    .container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    .weather .weather_form {
        flex-direction: column-reverse;

        .form_grid-left {
            grid-template-columns: 1fr;
            width: 100%;
        }

        .form_grid-right {
            width: 100%;
            margin-bottom: 10px;

            .button-langage {
                display: flex;
                justify-content: space-evenly;

                .button-click {
                    padding: 15px;
                }
            }
        }
    }
}
