.vertical-nav {
    display: block;
    width: 15%;
    min-height: 100%;
    min-width: 140px;
    height: 100vh;
    background-color: #263238;
    color: rgb(240, 239, 239);

    .title {
        text-align: center;
        padding: 6.5px;
        background-color: #3e84ac;
    }

    .profile {
        padding: 20px 10px;
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    .menu {
        .separator{
            display: block;
            padding: 15px 10px;
            background-color: #1d2529;
            text-transform: uppercase;
            width: 100%;
        }

        ul {
            li {
                display: flex;

                a {
                    padding: 25px 10px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    border-left: 3px solid transparent;
                    width: 100%;
                    color: white;

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 7px;
                        color: white;
                    }
                }

                .active {
                    border-left: 3px solid #3e84ac;
                    background-color: #353d41;
                }
            }
        }
    }
}

.only-icon {
    width: 5%;
    min-width: 60px;

    .profile {
        display: block;
        text-align: center;
        margin-left: 3px;

        svg {
            margin-right: 0;
        }
    }

    .active {
        width: 100%;
        text-align: center;

        .menu ul li a .active svg {
            margin-right: 0;
        }
    }


    .menu ul li a svg {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }
}



@media screen and (max-width: 890px){
    .vertical-nav {
        margin-left: -140px;
    }

    .only-icon {
        margin-left: -60px;
    }

    .go_right {
        margin-left: 0;
        transition: all 0.5s ease;
    }
    .go_left {
        transition: all 0.5s ease;
        position: relative;
        margin-left: 140px;
    }
}