.covid {
    margin: 30px;
    height: 100%;

    .covid_container {
        margin-top: 7px;
        display: grid;
        grid-template-columns: 1.1fr 1.1fr 0.8fr;

        .covid_cards {
            grid-column: 1/3;
            grid-row: 1;
        }

        .covid_list {
            grid-column: 3;
            grid-row: 1/5;

            .list-options {
                display: flex;
                justify-content: space-between;
            }
        }

        .covid_map {
            grid-column: 1/3;
            grid-row: 2/5;
        }
    }

    .covid_chart {
        margin: 30px 0 60px;
        text-align: center!important;
    }
}

@media screen and (max-width: 800px){
    .covid .covid_container {
        .covid_cards {
            grid-column: 1/4;
        }
        .covid_map {
            grid-column: 1/4;
        }
        .covid_list {
            grid-column: 1/4;
            grid-row: 5/5;
        }
    }
}