.news {
    text-align: center;
    margin: 30px;
    height: 100%;

    .news_img {
        margin-top: 5px;
        width: 200px;
        height: 100%;
    }

    .news_button_list {
        margin: 22px 0;
        display: flex;
        justify-content: center;

        .news_button {
            margin: 0 20px;
        }
    }

    .news_card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 25px;
        margin-bottom: 100px;
    }
}