.list {
    height: 564px;
    overflow-y: scroll;
    margin-top: 10px;
    border: 1px solid black;

    .listCountries {
        display: flex;
        align-items: center;
        padding: 15px;

        &:not(:nth-child(even)){
            background-color: #f4f4f4;
        }

        .listCountries_img {
            width: 50px;
            height: auto;
            margin-right: 10px;
        }

        .listCountries_info {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}