header {
    background-color: #519cc7;
    color: white;

    .logo-website {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        .hamburger {
            display: block;
            width: 20px;
            cursor: pointer;

            .line {
                margin: 3px auto;
                width: 100%;
                height: 3px;
                background-color: white;
            }
        }

        .profile {
            display: flex;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
                margin-right: 7px;
            }
        }
    }
}

@media screen and (max-width: 890px){
    header .logo-website {
        display: block;
        text-align: center;
        background-color: #3e84ac;
        padding: 10px 20px;
        font-size: 18px;
        transition: all 0.5s ease;
    }
}