.chart {
    margin-bottom: 100px;

    .chart_title_name {
        text-transform: capitalize;
        text-align: center;
    }

    .chart_price_percentage {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 10px 0 20px;

        .chart_text{
            margin-right: 25px;
        }
    }

    .chart_graph {
        width: 100%!important;
        height: 300px!important;
    }

    .chart_button_list{
        margin-top: 15px;
        
        .chart_button {
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
}