footer {
    background-color: #519cc7;
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;

    h2 {
        color: white;
    }
}

@media screen and (max-width: 890px){
    footer {
        width: 100%;
        left: 0;
    }
    .clickMenu {
        width: 80%;
    }
}