.card_crypto {
    padding: 10px;

    .img_crypo {
        width: 35px;
        height: 35px;
    }

    .line {
        display: flex;
        justify-content: space-between;

        .logo_name {
            display: flex;
            align-items: center;

            p {
                margin-left: 8px;
                color: black;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .crypto_symbol {
        text-transform: uppercase;
    }
}