.leaflet-container {
    margin-top: 8px;
    width: 97.5%;
    height: 512px;

    .leaflet-popup-content {
        text-align: center;

        .map_flag_img {
            width: 100px;
            height: 80px;
            border: 1px solid black;
        }
    }
}

@media screen and (max-width: 800px){
    .leaflet-container {
        width: 100%;
        margin-bottom: 30px;
    }
}