* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body, .App, #root {
    width: 100%;
    height: 100%;
}

.App {
    display: flex;
    background-color: #263238;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.green  { color: green }
.red    { color: red }
.orange { color: orange }

.hide {
    display: none;
}

.block {
    display: block;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.t-right { text-align: right; }
.t-center { text-align: center; }

.container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    height: 100%;
}

.chartJS {
    margin-bottom: 70px;

    canvas {
        width: 100% !important;
    }
}

.black a {
    color: black;
    text-decoration: underline;
}
