.converter {
    .converter_title {
        text-align: center;
        margin-bottom: 10px;
    }

    .converter_field {
        border: 1px solid black;
        padding: 25px;

        .field {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .select {
                width: 10%;
            }

            .formRow_input {
                width: 50%;
            }
        }
    }

    .converter_result {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 700px){
    .field {
        display: flex;
        flex-direction: column;
    }
    .converter .converter_field .field .select {
        width: 100px;

        &:first-child {
            margin: 0 0 20px;
        }
        &:nth-child(3) {
            margin: 20px 0;
        }
    }
}