.birthday_modal {
    .birthday_txtField {
        margin: 10px;
        width: 50%;
    }

    .is-invalid {
        border: 0.5px solid red;
        border-radius: 5px;
    }

    .error {
        color: red;
    }
}