.mainLayout {
    width: 100%;
    background-color: white;
    top: 0;
    right: 0;
    transition: all 0.5s ease;
}

.toggleBig {
    width: 100%;
    transition: all 0.5s ease;
}

@media screen and (max-width: 890px){
    .mainLayout {
        position: relative;
        width: 100%;
    }
}