.black {
    color: black;
    text-decoration: underline;
}

.thumbs {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;

    p:nth-child(1){
        margin-right: 20px;
    }
}

.score_date {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.crypto_img {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    text-align: center;
}

.text {
    margin: 20px 0;

    a {
        color: black;
        text-decoration: underline;
    }
}

.reddit_dev {
    display: flex;
    justify-content: space-around;
}